main {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.employee-card {
    width: 20%;
    border: 1px solid #ccc;
    background-color: #ccc;
    display: flex;
    padding: 8px;
    border-radius: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 8px;
}

.profile-pic {
    border-radius: 50%;
}
.image {
    margin-right: 32px;
    margin-left: 8px;
}


.name-and-lastname {
    display: flex;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}